@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=cyrillic');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

h1 {
  font-size: 24px;
  line-height: 30px;
}

textarea {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 44px;
  text-align: center;
}

ol {
  list-style: decimal inside;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 640px;
  background-color: #79b700;
}

.content__heading {
  width: 100%;
  text-align: center;
  color: #fff;
}

.content__left,
.content__right {
  height: 200px;
  padding: 10px;
}

.content__left {
  width: 20%;
}

.content__right {
  width: 80%;
}

.codes-wrap {
  height: 100%;
  overflow: auto;
}
